body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, rgb(38, 0, 255), rgb(149, 0, 255));
    background-size: 600% 600%;
    animation: gradientMove 10s ease infinite;
}


@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} 


.glow-btn {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 20px;
    padding: 15px 40px;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
    backdrop-filter: blur(5px);
    transition: all 0.50s ease;
}


.glow-btn:hover {
    background: white;
    color: rgb(60, 80, 220);
    box-shadow: 0 0 25px white, 0 0 50px rgba(173, 216, 230, 0.8);
    transform: scale(1.1);
    transition: scale(0.1);
}


